//MAIN COLORS
$primary : #886CC0;
$secondary : #FFCF6D;
$tertiary : #FFA7D7;

//TEXT COLORS
$link: #2251F8;
$primary-text:#171B1E;
$secondary-text:#717579;
$tertiary-text:#D7D7D7;
$light-text:#EEEEEE;

//BG COLORS
$background:#FBFBFB;    
$white :#fff

